<div class="container-fluid viewport">
  <div class="row search">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= render 'header' %>
    </div>
  </div>

  <div class="row result">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    <% if @statuses %>
      <strong>Search Results:</strong>
      <button id="toggle" style="float: right;">RAW</button>
      <div id="cooked">
        <% @statuses.each do |tweet| %>
          <div class="a-tweet-or-status" style="cursor: pointer;"
            onclick="openTweet('<%= tweet.user.screen_name %>', '<%= tweet.id %>');">

            <div class="profile-image">
              <a href="<%= tweet.user.profile_image_url_https.to_s.gsub(/_normal/, '') %>" rel="nofollow" target="_blank">
                <img src="<%= tweet.user.profile_image_url_https %>" alt="<%= tweet.user.name %>'s profile image">
              </a>
            </div>
            <div class="status-content">
              <span class="name">
                <a href="https://twitter.com/<%= tweet.user.screen_name %>" rel="nofollow" target="_blank">
                  <%= tweet.user.name %>
                </a>
              </span>
              ( <span class="screen-name">
                <a href="https://twitter.com/<%= tweet.user.screen_name %>" rel="nofollow" target="_blank">
                  @<%= tweet.user.screen_name %>
                </a>
              </span> )
              <span class="created-at"><%= tweet.created_at.in_time_zone(tweet.user.time_zone)
                .localtime.strftime("on <i>%a, %b %d, %Y</i> at <i>%H:%M:%S</i>").html_safe %></span>
              <div class="text"><%= simple_format(color_hashtag(linkify(tweet.text))) %></div>
              <small class="from pull-right">tweeted from <%= tweet.source.html_safe %></small>
            </div>

          </div>
        <% end %>
      </div>

      <div id="raw">
        <% prettify_hash(@raw) %>
        <%= prettify_hash(@raw) %>
      </div>

      <%= render 'footer' %>

    <% end %>
    </div>
  </div>
</div>
