<form id="socmed-picker" class="pusher">
  <label><input type="radio" name="socmed-content" class="socmed-content"
    value="<%= tweets_path %>" checked>tweet</label>
  <label><input type="radio" name="socmed-content" class="socmed-content"
    value="<%= statuses_path %>">fb status</label>
</form>

<form action="<%= tweets_path %>" method="get" id="search-form" class="pusher">
  <div>
    <%= text_field_tag :query, params[:query], id: "query", placeholder: "Find tweets" %>
    <%= button_tag(type: "submit", id: "submit", name: nil) do %>
      Find
    <% end %>
    first
    <%= number_field_tag :num, params[:num], id: "num", min: 1, max: 300 %>
    tweets
  </div>
</form>
